.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .form {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 92%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background: #45a049;
  }
  