<!DOCTYPE html>
<html>
    <head>
        <title>Ready to download</title>
    </head>
    <body style="text-align: center; margin: 100px;">
        <style>
            button {width: 150px;
            height: 30px;
            margin: 100px;
            }
        </style>
        <p style="font-size: 50px">Your download is ready. Click "Download" to proceed</p>
        <p>This download link will expire within {{keep_time}} minuites</p>
        <a href="{{file_link}}"><button>Download</button></a>
        <br>
        <a href="{{links.home()}}">home</a>
    </body>
</html>