<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Failed!!</title>
    <style>
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Sign Up Failed!</h1>
        <p>Reason: {{error_code}}</p>
        <p><a href="{{links.signup()}}">Retry</a></p>
        <p><a href="{{links.home()}}">Home</a></p>
    </div>
</body>
</html>