img {
    height: auto;
    width : auto;
    max-width: 500px;
    max-height: 500px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.down {
    display: flex;
}

li {
    list-style-type: none;
}

div {
    margin: auto;
}

h3, p {
    display: flex;
    justify-content: center;
}
