body {
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50px;
}

.welcome {
    /* margin: 10px; */
    margin-top: 30px;
    margin-bottom: 0;
}

.intro {
    margin-top: 40px;
}

.para {text-align: center;
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 0;
}

.searchbar {font-family: "Roboto";
    font-size: 30px;
    text-align: center;
    width: 75%;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.search {
    margin: 50px;
    margin-top: 0;
}

.bttons {
    height:30px;
    width: 200px;
    font-size: 20px;
    border-radius: 50px;
}

.navbar {
    font-size: 10px;   
    display: inline-block;
    border: solid;
    border-radius: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar ul li a {
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.navbar ul li {
    margin-left: 25px;
    margin-right: 25px;
}
