.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  h1 {
    text-align: center;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  #settingsButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  #settingsButton a {    
    text-decoration: inherit;
    color: inherit;
  }
  
.api_key_item {
  padding-bottom: 20px;
}

/* .api_key_item a {
  text-decoration: inherit;
  color: black;
} */
